* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 100%;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: #fbba72;
    color: #691e06;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #8f250c;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 70px;
}

nav {
    display: flex;
    margin-left: auto;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    margin: 0 15px;
    color: #fbba72;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #fff;
}

.icons .fas {
    display: none;
    color: #fbba72;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

#menu-bars, #search-icon, #close-icon {
    display: none;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #8f250c;
    border-radius: 5px;
    background: #fbba72;
    color: #691e06;
    transition: border-color 0.3s;
}
.search-bar input:focus {
    outline: none;
    border-color: #ca5310;
}

.search-bar #search-button {
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    background: #ca5310;
    color: #fbba72;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}
.search-bar #search-button:hover {
    background: #bb4d00;
    transform: scale(1.05);
}

.swiper-container {
    width: 100%;
    height: 720px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
    object-fit: cover;
}

.slide-content {
    text-align: center;
    max-width: 600px;
    margin: 20% auto;
    padding: 20px;
}

.swiper-slide h2 {
    color: white;
    font-size: 28px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 0;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ca5310;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #bb4d00;
    transform: scale(1.05);
}

.products {
    padding: 2rem;
    background-color: #fbba72;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    background-color: #d8572a;
    color: #38040e;
    font-weight: 550;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(23% - 1rem);
    margin: 0.5rem;
    text-align: center;
    padding: 1.2rem;
    transition: box-shadow 0.3s ease;
}

.product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-item img {
    max-width: 100%;
    height: 300px;
}

button {
    background-color: #ca5310;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #bb4d00;
}

.interior-swiper {
    width: 100%;
    height: 100%;
}

.interior-swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.interior-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.interior-swiper .swiper-slide p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.interior-swiper .swiper-button-next,
.interior-swiper .swiper-button-prev {
    color: #333;
}

.interior-swiper .swiper-pagination {
    bottom: 10px;
}

.interior-swiper .swiper-slide-active {
    transform: scale(1.1);
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d8572a;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    color: #780116;
}

.contact-container {
    display: flex;
    width: 100%;
}

.contact-form {
    flex: 0 0 100%;
    margin-right: 20px;
}

.contact-form h1 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #780116;
    font-weight: 600;
    background: #fbba72;
}

.contact-form button {
    background-color: #bb4d00;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #8f250c;
}

.footer {
    margin-top: 20px;
    text-align: right;
    background-color: #8f250c;
    padding: 25px;
    color: #780116;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    text-align: left;
}

.social-links {
    text-align: right;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #780116;
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    cursor: pointer;
    color: #eee;
}

/* Tablet Styles (max-width: 768px) */
@media (max-width: 768px) {

    .container {
        padding: 10px;
    }

    .nav-links {
        display: none;
    }

    #menu-bars, #search-icon {
        display: inline-flex;
        gap: 0.5rem;
    }

    .icons #close-icon {
        display: none;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        background-color: #8f250c;
        align-items: baseline;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem;
        gap: 1rem;
        border-radius: 0 0 5px 5px;
        z-index: 100;
    }

    .search-bar {
        display: none;
    }

    .search-bar.active {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0.5rem;
        background-color: #8f250c;
        border-radius: 5px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
    }

    #close-icon.active {
        display: block;
        font-size: 24px;
        color: #ca5310;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .swiper-container {
        height: 400px;
        width: 100%;
        align-items: center;
    }

    .swiper-slide h2 {
        font-size: 24px;
    }

    .product-item {
        width: calc(60% - 1rem);
    }

    .product-list {
        justify-content: center; 
}
}

/* Mobile Styles (max-width: 480px) */
@media (max-width: 480px) {
    .container .logo img {
        height: 50px;
    }

    .nav-links.active {
        font-size: 14px;
        text-align: center;
    }

    .icons {
        margin-left: auto;
    }

    .product-item {
        width: calc(100% - 1rem);
    }

    .product-list {
        justify-content: center;
    }

    .swiper-slide h2 {
        font-size: 18px;
    }
}